<% provide :title, t(".title") %>
<h1><%= t ".caption" %></h1>
<p>
  <%= t ".k_0" %> <%= link_to "ruby on ralis tutorial", href="http://www.railstutorial.com" %> 
  <%= t ".k_1" %>
  <%= link_to href="http://www.railstutorial.org/book"%> <%= t ".k_2" %>
  <%= t ".k_3" %>
  <%= link_to href="http://screencasts.railstutorial.org/" %> <%= t ".k_4" %>
  <%= t ".k_5" %>
  <%= link_to href="http://rubyonrails.org/" %>Ruby on Rails</a>.
  <%= t ".k_6" %>
</p>
