<% provide:title, t(".title") %>
    <h1><%= t ".caption" %></h1>
    <p>
    <%= t(".h_0") %>
    <%= link_to href="https://www.railstutorial.org/help" %>Rails Tutorial <%= t(".h_1") %>
    <%= t(".h_2")%>
    <%= link_to href="https://www.railstutorial.org/book" %> <%= t(".h_3_a") %> Ruby on Rails Tutorial
    <%= t(".h_3_b") %>
    </p>
